////////////////////////////////////////////////////////////////////////////////////////////////////
// Text
////////////////////////////////////////////////////////////////////////////////////////////////////

// Font for body text and headings
$body-font-family: Inter, Roboto, "Helvetica Neue", sans-serif;

// Font for code and other fixed-width text
$code-font-family: "Roboto Mono", monospace;

// Font weights
$bold-font-weight: 600;
$extra-bold-font-weight: 800;

// Font sizes
$main-font-size: 1rem;
$main-line-height: 1.75;
$caption-font-size: 0.875 * $main-font-size;
$caption-line-height: 1.5;

// Margin between blocks in the main column
$main-block-margin: 1rem;

////////////////////////////////////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////////////////////////////////////

// Colors of the website header
$header-background-color: #242424;
$header-text-color: #ffffff;

// Background color of the main part of the website
$main-background-color: #ffffff;

// Color of the main text on the website
$main-text-color: #202020;

// Color of lines (<hr>, tables, etc.) in the main part of the website
$main-rule-color: #e8e8e8;

// Color of links in the main part of the website
$main-link-color: #0251d4;

// Color of code listings and inline code
$code-background-color: #f8f8f8;
$inline-code-background-color: #f4f4f4;

// Background color of the navigation sidebar
$navigation-background-color: #fafafa;

// Color of links in the navigation sidebar
$navigation-link-color: $main-text-color;
$navigation-active-link-color: $main-link-color;

// Color of lines in the navigation sidebar
$navigation-rule-color: #e6e6e6;

// Colors of heading anchor links
$heading-anchor-color: rgba(0, 0, 0, 0);
$hovered-heading-anchor-color: rgba(0, 0, 0, 0.225);

// Color of the box around focused elements
$focus-outline-color: #3782ff;

// Colors used for parts of the website that are highlighted by the user
$selection-background-color: #044dc8;
$selection-text-color: #ffffff;

// Color of the shadow rendered on the main part of the website when the menu is shown
$navigation-shadow-color: rgba(0, 0, 0, 0.35);

////////////////////////////////////////////////////////////////////////////////////////////////////
// Layout
////////////////////////////////////////////////////////////////////////////////////////////////////

// Root font size
$l-font-size: 16px;
$xl-font-size: 18px;
$xxl-font-size: 20px;

// Height of the header bar [rem]
$header-bar-height: 4.75;

// Width of the main column [rem]
$l-main-width: 40;

// Width of the navigation bar column [rem]
$s-navigation-width: 15;
$l-navigation-width: 16;

// Margins of the columns [rem]
$s-content-horizontal-margin: 2.5;
$s-content-vertical-margin: 2.0;
$l-content-horizontal-margin: 4.75;
$l-content-vertical-margin: 3.75;

// Computed navigation bar column widths
$s-navigation-column-width: $s-navigation-width + 2 * $s-content-horizontal-margin;
$l-navigation-column-width: $l-navigation-width + 2 * $l-content-horizontal-margin;

////////////////////////////////////////////////////////////////////////////////////////////////////
// Animations
////////////////////////////////////////////////////////////////////////////////////////////////////

// Configuration of the menu show/hide animation
$animation-duration: 250ms;
$animation-easing: ease-in-out;
