tag
	padding: 0.2rem 0.45em

	font-size: 0.75em
	font-weight: 600

	background-color: $main-inline-code-background-color
	color: $main-caption-color
	border-radius: 0.35em

	text-transform: uppercase
