{{ define "main" }}
<main>
	<h1>{{ .Title }}</h1>
	{{ partial "content.html" . }}

	{{ if and (not .Params.hideTableOfContents) (ne (add (len .Pages) (len .Sections)) 0) }}
		<h2>Contents</h2>

		<ul>
			{{ range .Pages | union .Sections }}
				{{ if not .Params.hidden }}
					<li>
						<a href="{{ .RelPermalink }}">
							{{ safeHTML .Params.Pre }}{{ .LinkTitle }}{{ safeHTML .Params.Post }}
						</a>
					</li>
				{{ end }}
			{{ end }}
		</ul>
	{{ end }}
</main>
<div class="pagination">
	{{ partial "pagination.html" . }}
</div>
{{ end }}
