<h1>{{ .Title }}</h1>

{{ if or .Params.authors (or .Params.publishdate .Params.lastmod) }}
<div class="front-matter">
	{{ with .Params.authors }}
		{{ if gt (len .) 1 }}
			{{ $.Scratch.Set "icon" "ti-users" }}
		{{ else }}
			{{ $.Scratch.Set "icon" "ti-user" }}
		{{ end }}
	<div title="authored by {{ delimit . ", " }}"><i class="icon ti {{ $.Scratch.Get "icon" }}"></i>{{ delimit . ", " }}</div>
	{{ end }}
	{{ with .Params.publishDate }}
	<div title="published on {{ .Format "January 2, 2006" }}"><i class="icon ti ti-clock"></i>{{ .Format "January 2, 2006" }}</div>
	{{ end }}
	{{ if ne .Params.publishDate .Params.lastmod }}
		{{ with .Params.lastmod }}
	<div title="last update on {{ .Format "January 2, 2006" }}"><i class="icon ti ti-refresh"></i>{{ .Format "January 2, 2006" }}</div>
		{{ end }}
	{{ end }}
</div>
{{ end }}

{{ .Content | replaceRE "(<h[1-9][^>]+?id=\"([^\"]+)\".*?>)" `${1}<a href="#${2}" class="heading-anchor"><i class="icon ti ti-hash"></i></a>` | safeHTML }}
