{{ $currentNode := . }}
{{ $.Scratch.Set "PreviousNode" nil }}
{{ $.Scratch.Set "PreviousNodeFinal" nil }}
{{ $.Scratch.Set "CurrentNodeFinal" nil }}
{{ $.Scratch.Set "NextNodeFinal" nil }}

{{ template "pagination" dict "ActiveNode" $ "CurrentNode" .Site.Home }}
{{ range .Site.Home.Sections }}
	{{ template "pagination" dict "ActiveNode" $ "CurrentNode" . }}
{{ end }}
{{ if or ($.Scratch.Get "PreviousNodeFinal") ($.Scratch.Get "NextNodeFinal") }}
	<nav class="pagination">
		{{ with ($.Scratch.Get "PreviousNodeFinal") }}
			<a class="nav nav-prev" href="{{ .RelPermalink }}" title="{{ .LinkTitle }}"><div class="nav-arrow">←</div><div class="nav-link">{{ .LinkTitle }}</div></a>
		{{ end }}
		{{ with ($.Scratch.Get "NextNodeFinal") }}
			<a class="nav nav-next" href="{{ .RelPermalink }}" title="{{ .LinkTitle }}"><div class="nav-link">{{ .LinkTitle }}</div><div class="nav-arrow">→</div></a>
		{{ end }}
	</nav>
{{ else }}
	{{ with .Site.Params.githubDocumentationRepository }}
		<nav class="no-pagination"></nav>
	{{ end }}
{{ end }}

{{ define "pagination" }}
	{{ $activeNode := .ActiveNode }}
	{{ $currentNode := .CurrentNode }}
	{{ $previousNode := $activeNode.Scratch.Get "PreviousNode" | default nil }}

	{{ with $currentNode }}
		{{ if and (not ($activeNode.Scratch.Get "NextNodeFinal")) (not .Params.hidden) }}
			{{ if $activeNode.Scratch.Get "CurrentNodeFinal" }}
				{{ $activeNode.Scratch.Set "NextNodeFinal" . }}
			{{ else }}
				{{ if eq $activeNode . }}
					{{ $activeNode.Scratch.Set "CurrentNodeFinal" . }}
					{{ $activeNode.Scratch.Set "PreviousNodeFinal" ($activeNode.Scratch.Get "PreviousNode") }}
				{{ end }}

				{{ $activeNode.Scratch.Set "PreviousNode" . }}

				{{ if and .IsSection (ne (add (len .Pages) (len .Sections)) 0) }}
					{{ range .Pages | union .Sections }}
						{{ template "pagination" dict "ActiveNode" $activeNode "CurrentNode" . }}
					{{ end }}
				{{ end }}
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}
